---
import Layout from '../../layouts/Layout.astro';
import PasswordInput from '../../components/PasswordInput.jsx';
---

<Layout title="Tienda Tecnol칩gica | Tecny">
	<main class="flex justify-between">
		<img class="h-[100vh]" src="/assets/images/banners/Banner Login.webp" alt="">
		<div>
			<form action="">
				<h2>Iniciar Sesi칩n en la Tienda Tecnol칩gica Tecny</h2>
				<label for="usuario">Ingrese su usuario:</label>
				<input type="text" id="usuario" placeholder="Usuario">
				<label for="password">Ingrese su contrase침a:</label>
				<PasswordInput client:visible />
				<div>
					<input type="checkbox">
					<span>Recordar usuario</span>
				</div>
				<button>Log In</button>
			</form>
		</div>
	</main>
</Layout>

<style is:global>
    * {
        font-family: 'KoPub Batang';
        font-weight: 400;
        word-wrap: break-word;
    }
	h2 {
		font-family: 'Volkhov';
	}
</style>