---
import PasswordInput from '@/components/PasswordInput.jsx';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Iniciar Sesión | Tecny">
    <main class="flex h-screen">
        <img
            class="h-full w-1/2"
            src="/assets/images/banners/Banner Login.jpg"
            alt=""
        />
        <form class="flex w-full flex-col justify-center px-40">
            <h1 class="mb-6 text-center text-3xl font-bold">
                Inicio de sesión
            </h1>
            <label class="mb-2 mt-4 font-bold" for="correo">Correo</label>
            <input
                class="boder-solid h-10 rounded-lg border-2 border-[#dadada] pl-2 text-lg"
                type="text"
                id="correo"
                placeholder="Ingrese su correo"
            />
            <label class="mb-2 mt-4 font-bold" for="contrasena"
                >Contraseña</label
            >
            <PasswordInput />
            <div class="mt-2 flex items-center gap-x-2">
                <input class="accent-morado-primario" type="checkbox" />
                <label for="">Recordar usuario y contraseña</label>
            </div>
            <a
                class="mt-12 h-10 rounded-lg bg-gris-oscuro p-1 text-center text-xl text-white"
                href="/">Ingresar</a
            >
            <p class="mt-4 text-center">
                ¿No tienes cuenta en Tecny? <a
                    class="text-morado-primario hover:underline"
                    href="">Registrate ahora</a
                >
            </p>
        </form>
    </main>
</Layout>

<style is:global>
    * {
        font-family: 'KoPub Batang';
        font-weight: 400;
        word-wrap: break-word;
        box-sizing: border-box;
        scroll-behavior: smooth;
        scroll-padding: 3rem;
    }
    h2 {
        font-family: 'Volkhov';
    }
</style>
