---
import Layout from '../../layouts/Layout.astro';
import HeaderSup from '../../components/HeaderSup.astro';
import Footer from '../../components/Footer.astro';
import Filtrar from '../../components/Filtrar.jsx';
import Productos from '../../components/Productos.astro';
---

<Layout title="Categoría Hardware | Teny">
	<header>
		<HeaderSup />
	</header>
	<main>
		<img class="h-full w-full" src="/assets/images/banners/Banner Hardware.png" alt="Oferta 1"/>
		<section class="flex justify-between py-10">
			<div class="ml-5">
				<Filtrar client:visible setFiltro='categorias'/>
			</div>
			<div class="grid grid-cols-4 gap-4">
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product1.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product2.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product3.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product4.png' className=''/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product1.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product2.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product3.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product4.png' className=''/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product1.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product2.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product3.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product4.png' className=''/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product1.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product2.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product3.png' className='mr-5'/>
				<Productos id="SKU: LAP0366" nombre='Laptop HP 15-DW3021WM Core i3 11va' precio={744.99} cantidad={1} src='/assets/images/products/product4.png' className=''/>
			</div>
		</section>
	</main>
	<footer>
		<Footer />
	</footer>
</Layout>

<style is:global>
    * {
        color: white;
        font-family: 'KoPub Batang';
        font-weight: 400;
        word-wrap: break-word;
    }
	h2 {
		font-family: 'Volkhov';
	}
</style>

<style>
	h2 {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
</style>