---
import Layout from '../../../layouts/Layout.astro';
import HeaderSup from '../../../components/HeaderSup.astro';
import Footer from '../../../components/Footer.astro';
import Productos from '../../../components/Productos.astro';
import DescripcionProducto from '../../../components/DescripcionProducto.jsx'
---

<Layout title="Categoría Hardware | Teny">
	<header>
		<HeaderSup />
	</header>
	<main>
		<DescripcionProducto client:visible ids="LAP0366" categoria="Categoria"/>
	</main>
	<footer>
		<Footer />
	</footer>
</Layout>

<style is:global>
    * {
        color: white;
        font-family: 'KoPub Batang';
        font-weight: 400;
        word-wrap: break-word;
    }
</style>