---
import Layout from "../layouts/Layout.astro";
import HeaderSup from "../components/HeaderSup.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="404 | Teny">
        <HeaderSup />
    <main>
        <div class="flex flex-col items-center justify-center h-screen">
            <h2 class="text-7xl font-bold text-morado-primario">
                404 | Página no encontrada
            </h2>
            <p class="text-lg text-black">
                La página que buscas no existe o ha sido eliminada.
            </p>
        </div>
    </main>
        <Footer />
</Layout>

<style is:global>
    * {
        color: white;
        font-family: "KoPub Batang";
        font-weight: 400;
        word-wrap: break-word;
    }
</style>
