---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="404 | Teny">
    <main>
        <div class="flex h-screen flex-col items-center justify-center">
            <h2 class="text-7xl font-bold text-morado-primario">
                404 | Página no encontrada
            </h2>
            <p class="text-lg text-black">
                La página que buscas no existe o ha sido eliminada.
            </p>
        </div>
    </main>
</Layout>
