---
import Footer from '@/components/Footer.astro';
import HeaderSup from '@/components/HeaderSup.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Contactanos | Teny">
    <HeaderSup />
    <main>
        <section class="flex justify-center py-10">
            <form class="m-10 flex flex-col rounded-3xl p-10 shadow-lg">
                <h2 class="text-3xl font-bold">Dejanos un mensaje</h2>
                <p class="text-xl">
                    Si tiene alguna duda, sugerencia o cualquier pregunta
                    háganosla saber, para poder brindar un mejor servicio, Tecny
                    estará encantado de ayudarle!
                </p>
                <div class="flex w-full justify-between px-10 pt-10">
                    <div class="mr-28 flex w-full flex-col">
                        <label for="name">Nombres <span>*</span></label>
                        <input type="text" id="name" name="name" required />
                    </div>
                    <div class="mr-28 flex w-full flex-col">
                        <label for="lastname">Apellidos <span>*</span></label>
                        <input
                            type="text"
                            id="lastname"
                            name="lastname"
                            required
                        />
                    </div>
                </div>
                <label class="px-10 pt-10" for="mail"
                    >Correo <span>*</span></label
                >
                <input
                    class="mx-10"
                    type="email"
                    id="mail"
                    name="mail"
                    required
                />
                <label class="px-10 pt-10" for="subject"
                    >Asunto <span>*</span></label
                >
                <input
                    class="mx-10"
                    type="text"
                    id="subject"
                    name="subject"
                    required
                />
                <label class="px-10 pt-10" for="message"
                    >Mensaje o Comentario <span>*</span></label
                >
                <textarea class="mx-10" id="message" name="message" required
                ></textarea>
                <div class="p-10">
                    <input type="checkbox" id="robot" name="robot" required />
                    <label for="robot">No soy un robot</label>
                </div>
                <input
                    class="ml-10 bg-sky-500 text-xl font-bold hover:bg-sky-700"
                    type="submit"
                    value="Enviar"
                />
            </form>
        </section>
    </main>
    <Footer />
</Layout>

<style is:global>
    * {
        color: white;
        font-family: 'KoPub Batang';
        font-weight: 400;
        word-wrap: break-word;
    }
</style>
<style>
    form {
        background-color: #ececec;
        width: 900px;
    }
    form * {
        color: black;
    }
    input,
    textarea {
        border: 1px solid #dadada;
        border-radius: 5px;
        padding: 3px 10px;
        transition: 0.3s;
    }
    label {
        font-size: 20px;
    }
    input[type='submit'] {
        width: 200px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        color: white;
    }
    label span {
        color: red;
    }
    input[type='submit']:hover {
        background-color: #2082e4;
        transition: 0.3s;
    }
    form p {
        color: #5f5f5f;
    }
</style>
