---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Contactanos | Teny">
    <main>
        <section class="flex justify-center py-10">
            <form
                class="flex w-3/4 flex-col gap-y-5 rounded-3xl bg-[#ececec] p-10 text-black shadow-lg"
            >
                <h2 class="text-3xl font-bold">Dejanos un mensaje</h2>
                <p class="text-xl text-[#5f5f5f]">
                    Si tiene alguna duda, sugerencia o cualquier pregunta
                    háganosla saber, para poder brindar un mejor servicio, Tecny
                    estará encantado de ayudarle!
                </p>
                <div
                    class="flex flex-col justify-between gap-x-10 gap-y-5 md:mx-10 md:flex-row"
                >
                    <div class="flex w-full flex-col">
                        <label class="text-xl" for="name"
                            >Nombres <span class="text-red-500">*</span></label
                        >
                        <input
                            class="rounded-md border border-[#dadada] p-1"
                            id="name"
                            name="name"
                            required
                        />
                    </div>
                    <div class="flex w-full flex-col">
                        <label class="text-xl" for="lastname"
                            >Apellidos <span class="text-red-500">*</span
                            ></label
                        >
                        <input
                            class="rounded-md border border-[#dadada] p-1"
                            id="lastname"
                            name="lastname"
                            required
                        />
                    </div>
                </div>
                <div class="flex flex-col">
                    <label class="text-xl md:mx-10" for="mail"
                        >Correo <span class="text-red-500">*</span></label
                    >
                    <input
                        class="rounded-md border border-[#dadada] p-1 md:mx-10"
                        type="email"
                        id="mail"
                        name="mail"
                        required
                    />
                </div>
                <div class="flex flex-col">
                    <label class="text-xl md:mx-10" for="subject"
                        >Asunto <span class="text-red-500">*</span></label
                    >
                    <input
                        class="rounded-md border border-[#dadada] p-1 md:mx-10"
                        type="text"
                        id="subject"
                        name="subject"
                        required
                    />
                </div>
                <div class="flex flex-col">
                    <label class="text-xl md:mx-10" for="message"
                        >Mensaje o Comentario <span class="text-red-500">*</span
                        ></label
                    >
                    <textarea
                        class="rounded-md border border-[#dadada] p-1 md:mx-10"
                        id="message"
                        name="message"
                        required></textarea>
                </div>
                <div class="flex gap-2 md:mx-10">
                    <input type="checkbox" id="robot" name="robot" required />
                    <label class="text-xl" for="robot">No soy un robot</label>
                </div>
                <input
                    class="ml-10 w-40 bg-sky-500 py-1 text-xl font-bold text-white transition-colors hover:bg-sky-700"
                    type="submit"
                    value="Enviar"
                />
            </form>
        </section>
    </main>
</Layout>
