---
import Layout from '../layouts/Layout.astro';
import HeaderSup from '../components/HeaderSup.astro';
import CategoriasCard from '../components/CategoriasCard.astro';
import TrabajamosCon from '../components/TrabajamosCon.jsx';
import Productos from '../components/Productos.astro';
import Footer from '../components/Footer.astro';
import products from '../data/requestAPI';

const lastProducts = [
	...products.filter(product => product.categoria === 'hardware').slice(-1),
	...products.filter(product => product.categoria === 'perifericos').slice(-1),
	...products.filter(product => product.categoria === 'monitores').slice(-1),
	...products.filter(product => product.categoria === 'laptops').slice(-1)
]
---

<Layout title="Tienda Tecnológica | Tecny">
	<header>
		<HeaderSup />
	</header>
	<main>
		<img class="h-[75vh]" src="./assets/images/banners/Banner Inicio.png" alt="Oferta 1"/>
		<section class="pt-5 pb-16">
			<h2 class="text-[44px] font-normal mb-5 text-center text-morado-primario mt-3">Categorías</h2>
			<div class="flex flex-wrap justify-center">
				<CategoriasCard title="Hardware" image="./assets/images/categories/Categoria Hardware.png" href="/categorias/hardware" className="mr-5"/>
				<CategoriasCard title="Perifericos" image="./assets/images/categories/Categoria Perifericos.png" href="/categorias/perifericos" className="mr-5"/>
				<CategoriasCard title="Monitores" image="./assets/images/categories/Categoria Monitores.png" href="/categorias/monitores" className="mr-5"/>
				<CategoriasCard title="Laptops" image="./assets/images/categories/Categoria Laptops.png" href="/categorias/laptops"/>
			</div>
		</section>
		<section>
			<h2 class="text-[44px] mb-5 text-center text-morado-primario font-normal">Trabajamos con</h2>
			<div class="bg-morado-primario">
				<TrabajamosCon client:load/>
			</div>
		</section>
		<section class="my-10">
			<h2 class="text-[44px] mb-5 text-center text-morado-primario font-normal mt-3">Productos Nuevos</h2>
			<div class="flex flex-wrap justify-center">
				{
					lastProducts.map((producto, index) => (
						<Productos id={producto.id} nombre={producto.nombre} precio={producto.precio} cantidad={1} src={producto.src} className={(index+1)%4 === 0 ? '':'mr-5'}/>
					))
				}
			</div>
		</section>
	</main>
	<footer>
		<Footer />
	</footer>
</Layout>

<style is:global>
    * {
        color: white;
        font-family: 'KoPub Batang';
        font-weight: 400;
        word-wrap: break-word;
    }
	h2 {
		font-family: 'Volkhov';
	}
</style>

<style>
	h2 {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
</style>