---
// TypeScript o JavaScript
import Filtrar from '@/components/Filtrar.jsx';
import Footer from '@/components/Footer.astro';
import HeaderSup from '@/components/HeaderSup.astro';
import Productos from '@/components/Productos.astro';
import Layout from '@/layouts/Layout.astro';

import { ofertas } from '@/data/ofertas';
---

<!-- Astro o HTML -->
<Layout title="Ofertas | Teny">
    <HeaderSup />
    <main>
        <!-- Tailwind CSS -->
        <img
            class="h-full w-full"
            src="./assets/images/banners/Banner Ofertas.png"
            alt="Oferta 1"
        />
        <section class="flex justify-between py-10">
            <div class="ml-5">
                <Filtrar client:visible setFiltro="categorias" />
            </div>
            <div class="flex flex-wrap justify-center gap-x-4 gap-y-7">
                {
                    ofertas.map((producto, index) => (
                        <Productos
                            id={producto.id}
                            nombre={producto.nombre}
                            precio={producto.precio}
                            cantidad={1}
                            src={producto.src}
                            className={(index + 1) % 4 === 0 ? '' : 'mr-5'}
                        />
                    ))
                }
            </div>
        </section>
    </main>
    <Footer />
</Layout>

<style is:global>
    * {
        color: white;
        font-family: 'KoPub Batang';
        font-weight: 400;
        word-wrap: break-word;
    }
    h2 {
        font-family: 'Volkhov';
    }
</style>

<style>
    h2 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
</style>
