<div class="bg-morado-primario flex flex-wrap p-10 justify-around items-center py-10">
    <div>
        <h5 class="text-[40px]">¿Deseas recibir más información?</h5>
        <p class="text-[20px]">Asegúrese de que nunca se pierda nuestras noticias interesantes al unirse <br> a nuestro programa de boletines.</p>
    </div>
    <button class="bg-sky-500 w-64 h-16 rounded-[15px] text-[40px]">Suscribete</button>
</div>
<div class="bg-gris-oscuro flex flex-wrap justify-around pt-20 pb-5"> <!--footer-->
    <div class="flex flex-col items-center justify-start">
        <div class="flex justify-around w-full h-16">
            <button><img class="w-8 h-8" src="/assets/images/icons/facebook.png" alt="Facebook"></button>
            <button><img class="w-8 h-8" src="/assets/images/icons/instagram.png" alt="Instagram"></button>
            <button><img class="w-8 h-8" src="/assets/images/icons/twitter.png" alt="Twitter"></button>
        </div>
        <h4 class="underline text-[20px] mt-10">Servicio a domicilio</h4>
        <a href="tel:1234567890">123 456 7890</a>
        <h4 class="underline text-[20px] mt-5">Servicio al cliente</h4>
        <a href="tel:1234567890">123 456 7890</a>
        <h4 class="underline text-[20px] mt-5">Correo Electrónico</h4>
        <a href="mailto:john.mata@epn.edu.ec">john.mata@epn.edu.ec</a>
    </div>
    <div class="flex flex-col justify-start">
        <h4 class="text-[25px]">Contactanos</h4>
        <hr>
        <a class="pt-2 pb-5" href="https://www.google.com/maps/?q=latitude,longitude">Av. de la Prensa N58-411</a>
        <h4 class="text-[25px]">App Tecny</h4>
        <hr>
        <span class="pt-2">Encuentrala en:</span>
        <button class="py-3"><img class="w-44 h-12" src="/assets/images/icons/Download_In_AppStore.png" alt="Download in AppStore"></button>
        <button class="pt-1"><img class="w-44 h-12" src="/assets/images/icons/Download_In_GooglePlay.png" alt="Download in GooglePlay"></button>
    </div>
    <div class="flex flex-col items-end justify-center mt-3">
        <iframe class="w-[450px] h-[300px] rounded-[10px]" src="https://www.google.com/maps/embed?pb=..." allowfullscreen="" loading="lazy"></iframe>
        <p class="pt-3">Todos los derechos reservados &copy; 2024 Tecny</p>
    </div>
</div>