---
interface Props {
    id: string;
    nombre: string;
    precio: number;
    cantidad: number;
    src: string;
    className: string;
}

const { id, nombre, precio, cantidad, src, className} = Astro.props;

---

<article class={`w-[250px] h-auto border-[#dadada] border-solid border-[1px] rounded-[20px] shadow-lg ${className}`}>
    <a class="h-[225px] flex justify-center items-center" href={`/categorias/productos/${id}`}>
        <img class="p-7" src={ src } alt={ nombre }>
    </a>
    <hr class="border-[#dadada]">
    <div class="h-[225px]">
        <div class="h-[120px] flex flex-col">
            <span class="text-gray-500 mt-2 ml-4">SKU: { id }</span>
            <h3 class="text-black mt-2 mx-4 font-semibold">{ nombre }</h3>
            <span class="text-sky-500 mt-2 ml-4 font-semibold">{`$ ${precio}`}</span>
        </div>
        <div class="h-[90px] flex flex-col">
            <input class="bg-gris-oscuro rounded-[10px] my-3 py-1 pl-2 ml-4 w-12" type="number" min="0" max="99" step="1" value={ cantidad }>
            <button class="bg-gris-oscuro flex justify-around items-center py-1 rounded-[10px] mx-4">
                <svg width="25" height="25" viewBox="0 0 33 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Group 2">
                    <path id="Vector" d="M10.911 33.9119C12.2501 33.9119 13.3357 32.6807 13.3357 31.1619C13.3357 29.6431 12.2501 28.4119 10.911 28.4119C9.5719 28.4119 8.48633 29.6431 8.48633 31.1619C8.48633 32.6807 9.5719 33.9119 10.911 33.9119Z" fill="white"/>
                    <path id="Vector_2" d="M27.8838 33.9119C29.2229 33.9119 30.3085 32.6807 30.3085 31.1619C30.3085 29.6431 29.2229 28.4119 27.8838 28.4119C26.5447 28.4119 25.4591 29.6431 25.4591 31.1619C25.4591 32.6807 26.5447 33.9119 27.8838 33.9119Z" fill="white"/>
                    <path id="Vector_3" d="M10.2883 21.537H30.0904L33 5.03699H7.72036L7.07857 0.911987H0V3.66199H5.04487L8.6819 27.037H30.3086V24.287H10.7156L10.2883 21.537Z" fill="white"/>
                    </g>
                </svg>
                <span class="font-medium">Añadir al carrito</span>
            <button/>
        </div>
    </div> 
</article>