---
const logos = ['samsung', 'lg', 'apple', 'sony'];
---

<div class="flex items-center whitespace-nowrap animate-scroll w-screen">
	{
		logos.map((logo) => (
			<img class="mx-8" src={`/assets/images/icons/${logo}.png`} alt={logo} />
		))
	}
</div>
