---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Tienda de tecnología" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Proyecto académico que simula una tienda de venta de articulos tecnológicos"
        />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
